body {
  background: #fff;
  .hl {
    color: #f30;
    font-size: 26px;
    font-weight: 700;
  }
  .box {
    margin-bottom: 15px;
  }
  .list {
    display: flex;
    li {
      padding-bottom: 5px;
      .i-remove {
        margin-left: 5px;
      }
    }
  }
  .Col {
    flex: 1;
    min-width: 350px;
  }
}
